* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;
}

.header {
    width: 100%;
    height: 70px;
    background-color: grey;
}

/*Inizio Jumbotron Section */
.jumbotron {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.title_container > h2 {
    font-weight: lighter;
}

.date_container {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid white;
}

.jumbo_btn {
    padding: 10px;
    background-color: #f72b0c;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    text-transform: uppercase;
}

.bottom_jumbo {
    width: 60%;
    margin: 0 auto;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_jumbo > h3 {
    text-transform: uppercase;
}

.jumbo_elements {
    display: flex;
    padding: 10px;
}

.bottom_jumbo_box {
    padding-left: 20px
}

.bottom_jumbo a {
    font-style: italic;
    color: #bf351f;
    text-decoration-line: none;
}
/*Fine Jumbotron Section */


/*Inizio Counter Section */
.counter {
    width: 100%;
    height: 400px;
    background-image: url(../img/counter.jpg);
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter_boxes_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.counter_boxes {
    padding: 20px;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: #272727;
    color: white;
}

.counter_boxes p {
    text-transform: uppercase;
    font-size: 10px;
}

.counter_input input,
.counter_input button {
    padding: 20px;
    border: none;
}

.counter_input {
    text-align: center;
}

.counter_input h3 {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.counter_input button {
    background-color: #f72b0c;
    color: white;
    text-transform: uppercase;
}
/*Fine Counter Section */


/*Inizio Speaker Section */
.speakers {
    width: 100%;
    height: 400px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.speakers_container {
    width: 60%;
    margin: 0 auto;
}

.speakers_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.speakers_title h2 {
    text-transform: uppercase;
}

.speakers_arrows i {
    background-color:#f72b0c;
    color: white;
    padding: 10px;
    font-size: 10px;
}

.speakers_icons {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.speakers_card {
    text-align: center;
}

.speakers_card > img {
    width: 200px;
    border-radius: 10px;
}

.speakers_card > h4 {
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 5px;
}

.speakers_card > p {
    font-style: italic;
    color: grey;
}
/*Fine Speaker Section */


/*Inizio Program Section */
.program {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.program_container {
    width: 60%;
    margin: 0 auto;
}

.program_header {
    width: 100%;
    display: flex;
    padding-bottom: 30px;
    align-items: center;
}

.program_header_title {
    width: 25%;
    text-transform: uppercase;
    font-size: 20px;
}

.program_header_main,
.program_header_right {
    font-size: 12px;
}

.program_header_main {
    width: 50%;
    padding-left: 30px;
    color: grey;
}

.program_header_right {
    width: 25%;
    text-align: right;
    color:#bf351f;
    font-style: italic;
}

.program_timeline {
    width: 100%;
    display: flex;
    justify-content: center;
}

.program_timeline > div:first-child {
    background-color: #bf351f;
}

.program_timeline > div {
    width: calc(100% / 6);
    background-color: #f72b0c;
    color: white;
    padding: 10px;
    border-left: 1px solid grey;
}

.program_table {
    width: 100%;
    height: 200px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
    background-color: lightgray;
}

.program_left {
    width: 30%;
    font-size: 12px;
}

.program_left p {
    padding-bottom: 10px;
}
.program_left p:last-child {
    color: #f72b0c;
}

.program_left i {
    padding-right: 20px;
}

.program_right {
    width: 70%;
}

.program_right p {
    font-size: 12px;
    padding-top: 20px;
}

.program_right img {
    width: 50px;
    padding-top: 20px;
}
/*Fine Program Section */

/*Inizio Maps Section */
.maps {
    width: 100%;
    height: 300px;
}

.maps img {
    width: 100px;
}
/*Fine Maps Section */

/*Inizio Location Section */
.location {
    width: 100%;
    padding: 30px;
    background-image: url(../img/location.jpg);
    background-size: contain;
    background-position-x: right;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

.location_top {
    padding: 20px;
}

.location_top h3,
.location_top h5 {
    font-size: 40px;
    text-transform: uppercase;
}

#location_red {
    color: red;
    padding-top: 20px;
    padding-bottom: 30px;
}

.location_bottom {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-top: 1px solid white;
    padding-top: 10px;
}

.location_bottom i {
    padding-right: 10px;
}
/*Fine Location Section */

/*Inizio News Section */
.news {
    width: 100%;
    margin-bottom: 30px;
}

.news_container {
    width: 60%;
    margin: 0 auto;
    padding-top: 30px;
}

.news_title {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 40px;
}

.news_title h2 {
    text-transform: uppercase;
}

.news_post_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 30px;
}

.news_post_container h5 {
    text-transform: uppercase;
}

.news_post_container img {
    width: 100%;
}
.news_post_container div:first-child {
    padding-right: 20px;
}

.news_post_container div:last-child {
    padding-left: 20px;
}

.news_post p {
    padding-top: 20px;
    color: 9c9c9c;
    font-style: italic;
}

.new_post_red {
    color:#bf351f;
    font-style: italic;
}
/*Fine News Section */

/*Inizio Tickets Section */
.tickets {
    width: 100%;
    height: 400px;
    position: relative;
}

.tickets_background { 
    position: absolute;
    height: 100%;
    width: 100%;
    filter: grayscale(60%) blur(3px);
    left: 0px;
    top: 0px;
    z-index: -1;
}

.tickets_container {
    width: 60%;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-content: center;
}

.tickets_cards {
    width: 100%;
}

.tickets_cards h2 {
    color: white;
    text-transform: uppercase;
}

.ticket_cards_container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.ticket_card {
    width: calc(100% / 3);
}
.ticket_header {
    background-color: lightgray;
    text-transform: uppercase;
    padding: 10px;
}

.ticket_header p {
    color: #f72b0c;
}

.ticket_main {
    background-color: white;
    color: lightgray;
    font-style: italic;
    padding: 10px;
}

.ticket_main ul {
    list-style: none;
}

.ticket_footer {
    background-color: #f72b0c;
    color: white;
    text-transform: uppercase;
    padding: 10px;
}
/*Fine Tickets Section */

/*Inizio Presentations Section */
.presentations {
    width: 100%;
    margin: 0 auto;
    height: 400px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.presentations_container {
    width: 60%;
    height: 100%;
    display: flex;
}

.presentations_container h2 {
    text-transform: uppercase;
}

.presentations_video,
.presentations_twitter {
    width: 50%;
    padding: 10px;
}

.presentations_video img {
    width: 100%;
    padding: 10px;
}

.presentations_twitter div,
.presentations_video div {
    margin: 10px 0px;
}

.presentations_twitter_div {
    display: flex;
    justify-content: center;
    align-content: center;
}

.presentations_twitter i {
    color: #1da1f2;
    padding-right: 10px;
}

.presentations_twitter p,
.presentations_twitter a,
.presentations_twitter span {
    font-size: 12px;
}

.presentations_twitter a,
.presentations_twitter span {
    color: #bf351f;
}

.presentations_date {
    color: grey;
    font-style: italic;
    padding-top: 10px;
}
/*Fine Presentations Section */