* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
    width: 100vw;
}

/* INIZIO UTILITIES */
.uppercase {
    text-transform: uppercase;
}

.my_btn {
    color: white;
    background-color: #f72b0c;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px;
}

.italic_red {
    font-style: italic;
    color: #bf351f;
    font-size: 12px;
}

.italic_grey {
    font-style: italic;
    color: #9c9c9c;
    font-size: 12px;
}

.italic_grey_plus {
    color: #868686;
    font-size: 12px;
    font-style: italic;
}
.p_grey {
    font-size: 12px;
    color: #9c9c9c;
}

.p_red {
    font-size: 12px;
    color: #f72b0c;
}

.liststyle {
    list-style: none;
}

.inline {
    display: inline-block;
    font-size: 10px;
    padding: 10px;
    text-transform: uppercase;
    color: #868686;
}

.header li:first-child {
    color: red;
    padding-bottom: 10px;
    border-bottom: 3px solid red;
}

.minus {
    font-size: 12px;
    padding-left: 10px;
    color: #868686;
}
/* FINE UTILITIES */

/*Inizio Header Section */
.header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.header_container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding: 10px;
}
/*Fine Header Section */

/*Inizio Jumbotron Section */
.jumbotron {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}

#jumbo_size {
    font-size: 50px;
} 

.title_container > h2 {
    font-weight: lighter;
}

.date_container {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid white;
}

.jumbo_btn {
    border-radius: 5px;
    margin-top: 30px;
}

.bottom_jumbo {
    width: 60%;
    margin: 0 auto;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbo_elements {
    display: flex;
    padding: 10px;
}

.jumbo_elements i {
    color: #9c9c9c;
}

.bottom_jumbo_box {
    padding-left: 20px
}

.bottom_jumbo_box h3 {
    padding-bottom: 20px;
}

.bottom_jumbo_box p {
    padding-bottom: 20px;
}

.bottom_jumbo a {
    text-decoration-line: none;
}
/*Fine Jumbotron Section */


/*Inizio Counter Section */
.counter {
    width: 100%;
    height: 400px;
    background-image: url(../img/counter.jpg);
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter_boxes_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.counter_boxes {
    padding: 20px;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(0,0,0, 0.6);
    color: white;
}

.counter_boxes p {
    text-transform: uppercase;
    font-size: 12px;
}

.counter_input input,
.counter_input button {
    padding: 20px;
    border: none;
}

.counter_input {
    text-align: center;
}

.counter_input h3 {
    margin-bottom: 30px;
}
/*Fine Counter Section */


/*Inizio Speaker Section */
.speakers {
    width: 100%;
    height: 400px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.speakers_container {
    width: 60%;
    margin: 0 auto;
}

.speakers_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.speakers_arrows i {
    background-color:#f72b0c;
    color: white;
    padding: 10px;
    font-size: 10px;
}

.speakers_icons {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.speakers_card {
    text-align: center;
}

.speakers_card > img {
    width: 200px;
    border-radius: 10px;
}

.speakers_card > h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #403d3b;
    font-size: 14px;
}
/*Fine Speaker Section */


/*Inizio Program Section */
.program {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.program_container {
    width: 60%;
    margin: 0 auto;
}

.program_header {
    width: 100%;
    display: flex;
    padding-bottom: 30px;
    align-items: center;
}

.program_header_title {
    width: 25%;
    text-transform: uppercase;
    font-size: 20px;
}

.program_header_main,
.program_header_right {
    font-size: 12px;
}

.program_header_main {
    width: 50%;
    padding-left: 30px;
    color: #9c9c9c;
}

.program_header_right {
    width: 25%;
    text-align: right;
}

.program_timeline {
    width: 100%;
    display: flex;
    justify-content: center;
}

.program_timeline > div:first-child {
    background-color: #bf351f;
}

.program_timeline > div {
    width: calc(100% / 6);
    background-color: #f72b0c;
    color: white;
    padding: 10px;
    border-left: 1px solid grey;
}

.program_table {
    width: 100%;
    height: 200px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
    background-color: #f7f7f7;
}

.program_left {
    width: 30%;
    font-size: 12px;
}

.program_left p {
    padding-bottom: 10px;
    color: #8b8a87;
}
.program_left p:last-child {
    color: #f72b0c;
}

.program_left i {
    padding-right: 20px;
    color: #8b8a87;
}

.program_right {
    width: 70%;
}

.program_right p {
    line-height: 2em;
}

.program_right p {
    font-size: 12px;
    padding-top: 20px;
}

.program_right img {
    width: 30px;
    padding-top: 20px;
}
/*Fine Program Section */

/*Inizio Maps Section */
.maps {
    width: 100%;
    height: 400px;
    background-image: url(../img/maps.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}
/*Fine Maps Section */

/*Inizio Location Section */
.location {
    width: 100%;
    padding: 30px;
    background-image: url(../img/location.jpg);
    background-size: contain;
    background-position-x: right;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

.location_top {
    padding: 20px;
}

.location_top h3,
.location_top h5 {
    font-size: 30px;
}
.location_top h5 {
    padding-bottom: 10px;
}

.location_top i {
    font-size: 12px;
}

#location_red {
    color: red;
    padding-top: 20px;
    padding-bottom: 30px;
}

.location_bottom {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-top: 1px solid white;
    padding-top: 10px;
}

.location_bottom i {
    padding-right: 10px;
}

.location_bottom p {
    font-size: 12px;
}
/*Fine Location Section */

/*Inizio News Section */
.news {
    width: 100%;
    margin-bottom: 30px;
}

.news_container {
    width: 60%;
    margin: 0 auto;
    padding-top: 30px;
}

.news_title {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 40px;
}

.news_post_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 30px;
}

.news_post_container img {
    width: 100%;
}

#sticked_img {
    position: relative;
}

#sticked_img :hover + .sticky_post {
    display: block;
}

.sticky_post {
    display: none;
    position: absolute;
    bottom: 4px;
    right: 0px;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #403d3b;
}

.news_post_container div:nth-child(2) {
    padding-left: 20px;
}

.news_post_container div:last-child {
    padding-left: 20px;
}

.news_post p {
    padding-top: 20px;
}
/*Fine News Section */

/*Inizio Tickets Section */
.tickets {
    width: 100%;
    height: 500px;
    position: relative;
}

.tickets_image {
    width: 100%;
    height: 100%;
    background-image: url(../img/tickets.jpg);
    
    background-size: cover;
    background-position: center;
    filter: grayscale(100%) blur(100%);
}

.tickets_container {
    width: 60%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    display: flex;
    align-content: center;
}

#special_ticket_card {
    margin-left: 20px;
    margin-right: 20px;
}

.tickets_cards {
    width: 100%;
}

.tickets_cards h2 {
    color: white;
    padding-bottom: 20px;
}

.ticket_cards_container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.ticket_card {
    width: calc(100% / 3);
}
.ticket_header {
    background-color: #e9e9e9;
    padding: 10px;
}

.ticket_main {
    background-color: white;
    padding: 20px 0px;
}

.ticket_main ul {
    list-style: none;
}

.ticket_main ul li {
    padding-bottom: 10px;
}

#ticket_flag {
    position: relative;
    overflow: hidden;
}

.red_flag {
    position: absolute;
    top: 15px;
    right: -20px;
    transform: rotate(50deg);
    font-size: 8px;
    padding: 5px 20px;
    color: white;
    background-color: red;
    text-align: center;

}
/*Fine Tickets Section */

/*Inizio Presentations Section */
.presentations {
    width: 100%;
    margin: 0 auto;
    height: 400px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
}

.presentations_container {
    width: 60%;
    height: 100%;
    display: flex;
}

.presentations_video,
.presentations_twitter {
    width: 50%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentations_top {
    height: 60px;
}

.presentations_bottom {
    height: 340px;
}

#presentations_img {
    position: relative;
}

#presentations_img img {
    width: 100%;
    padding: 20px;
}

.video_bar {
    display: flex;
    position: absolute;
    z-index: 2;
    bottom: 10px;
    width: 100%;  
    text-align: center;
}

.video_bar_play {
    width: 20%;
    border-radius: 5px;
    background-color: rgba(0,0,0, 0.4);
    padding: 10px;
    font-size: 20px;
    color: white;
}

.video_bar_song {
    display: flex;
    width: 80%;
    margin-left: 10px;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgba(0,0,0, 0.9);
    color: white;
}

.song_status {
    width: 70%;
    margin-left: 10px;
    border: 1px solid lightgrey;
}

.song_icons {
    width: 30%;
}

.song_icons i {
    padding-left: 10px;
}

.presentations_twitter div,
.presentations_video div {
    margin: 10px 0px;
}

.twitter_bottom {
    width: 100%;
    display: flex;
}

.presentations_twitter i {
    color: #1da1f2;
    padding-right: 10px;
}

.presentations_twitter p,
.presentations_twitter a,
.presentations_twitter span {
    font-size: 12px;
}

.presentations_twitter a,
.presentations_twitter span {
    color: #f72b0c;
}

.presentations_date {
    padding-top: 10px;
}
/*Fine Presentations Section */

/*Inizio Sponsors Section */
.sponsors {
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 30px 0px;
}

.sponsors_container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.sponsors_container h2 {
    padding: 10px 0px;
}

.sponsors_container p {
    padding-bottom: 30px;
}

.sponsors_logos_container {
    display: flex;
    justify-content: center;
}

.sponsors_logo {
    width: calc(100% / 6);
    padding: 10px;
}

.sponsors_logo img {
    width: 100%;
}
/*Fine Sponsors Section */

/*Inizio Footer Section */
.footer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #212121;
    color: white;
}

.footer_container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer_section {
    width: calc(100% /4);
    padding: 20px 10px; 
}

.footer_uppercase {
    text-transform: uppercase;
    padding-bottom: 20px;
    font-size: 12px;
}

.footer_icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.footer_li {
    color: #868686;
    font-size: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.footer_btn {
    margin-top: 10px;
    width: 80%;
}

.footer_bottom {
    width: 100%;
    padding: 30px;
    display: flex;
    align-content: center;
    background-color: #161616;
    color: #9c9c9c;
    font-size: 12px;
}

.footer_img {
    width: calc(100% / 4);
    height: 40px;
    padding: 5px;
}

.footer_bottom_container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
/*Fine Footer Section */