* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;
}

.header {
    width: 100%;
    height: 70px;
    background-color: grey;
}

/*Inizio Jumbotron Section */
.jumbotron {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.title_container > h2 {
    font-weight: lighter;
}

.date_container {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 2px solid white;
}

.jumbo_btn {
    padding: 10px;
    background-color: #f72b0c;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    text-transform: uppercase;
}

.bottom_jumbo {
    width: 60%;
    margin: 0 auto;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_jumbo > h3 {
    text-transform: uppercase;
}

.jumbo_elements {
    display: flex;
    padding: 10px;
}

.bottom_jumbo_box {
    padding-left: 20px
}

.bottom_jumbo a {
    font-style: italic;
    color: #bf351f;
    text-decoration-line: none;
}
/*Fine Jumbotron Section */


/*Inizio Counter Section */
.counter {
    width: 100%;
    height: 400px;
    background-image: url(../img/counter.jpg);
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter_boxes_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.counter_boxes {
    padding: 20px;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: #272727;
    color: white;
}

.counter_boxes p {
    text-transform: uppercase;
    font-size: 10px;
}

.counter_input input,
.counter_input button {
    padding: 20px;
    border: none;
}

.counter_input {
    text-align: center;
}

.counter_input h3 {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.counter_input button {
    background-color: #f72b0c;
    color: white;
    text-transform: uppercase;
}
/*Fine Counter Section */


/*Inizio Speaker Section */
.speakers {
    width: 100%;
    height: 400px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.speakers_container {
    width: 60%;
    margin: 0 auto;
}

.speakers_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.speakers_title h2 {
    text-transform: uppercase;
}

.speakers_arrows i {
    background-color:#f72b0c;
    color: white;
    padding: 10px;
    font-size: 10px;
}

.speakers_icons {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.speakers_card {
    text-align: center;
}

.speakers_card > img {
    width: 200px;
    border-radius: 10px;
}

.speakers_card > h4 {
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 5px;
}

.speakers_card > p {
    font-style: italic;
    color: grey;
}
/*Fine Speaker Section */


/*Inizio Program Section */
.program {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.program_container {
    width: 60%;
    margin: 0 auto;
}

.program_header {
    width: 100%;
    display: flex;
    padding-bottom: 30px;
    align-items: center;
}

.program_header_title {
    width: 25%;
    text-transform: uppercase;
    font-size: 20px;
}

.program_header_main,
.program_header_right {
    font-size: 12px;
}

.program_header_main {
    width: 50%;
    padding-left: 30px;
    color: grey;
}

.program_header_right {
    width: 25%;
    text-align: right;
    color:#bf351f;
    font-style: italic;
}

.program_timeline {
    width: 100%;
    display: flex;
    justify-content: center;
}

.program_timeline > div:first-child {
    background-color: #bf351f;
}

.program_timeline > div {
    width: calc(100% / 6);
    background-color: #f72b0c;
    color: white;
    padding: 10px;
    border-left: 1px solid grey;
}

.program_table {
    width: 100%;
    height: 200px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
    background-color: lightgray;
}

.program_left {
    width: 30%;
    font-size: 12px;
}

.program_left p {
    padding-bottom: 10px;
}
.program_left p:last-child {
    color: #f72b0c;
}

.program_left i {
    padding-right: 20px;
}

.program_right {
    width: 70%;
}

.program_right p {
    font-size: 12px;
    padding-top: 20px;
}

.program_right img {
    width: 50px;
    padding-top: 20px;
}
/*Fine Program Section */

/*Inizio Maps Section */
.maps {
    width: 100%;
    height: 100px;
}

.maps img {
    width: 100px;
}
/*Fine Maps Section */