<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>KeyNote</title>
    <!--Visto che dovrà essere realizzata soltanto la desktop view non verrà utilizzato Bootstrap-->
</head>
<body>
    <div id="root">
        <!--Inizio header-->
        <div class="header">
            <div class="header_container">
                <div>
                    <img :src="logo" alt="KeyNote logo">
                </div>
                <div :class="menu">
                    <ul :class="liststyle">
                        <li v-for="item in header" :class="inline">{{item}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Fine header-->

        <!--Inizio sezione Jumbotron-->
        <div class="jumbotron">
            <div>
                <div class="title_container">
                    <h2 class="uppercase">conference on </h2>
                    <h1 class="uppercase">social networks</h1>
                </div>
                <div class="date_container">
                    <p class="uppercase">23 - 26 May 2019 / SANS FRANCISCO / 8 speakers</p>
                </div>
                <input class="my_btn jumbo_btn" type="button" value="register online">
            </div>
        </div>
        <div class="bottom_jumbo">
            <div class="jumbo_elements">
                <div>
                    <i class="fas fa-trophy"></i>
                </div>
                <div class="bottom_jumbo_box"> 
                    <h3 class="uppercase">who we are</h3>
                    <p class="p_grey">Donec id elit non mi porta gravida at eget me tus. Sed posuere consectetur estat lobo rtis. Cum sociis natoque.</p>
                    <a class="italic_red" href="">Learn more</a>
                </div>
            </div>
            <div class="jumbo_elements">
                <div>
                    <i class="fas fa-bolt"></i>
                </div>
                <div class="bottom_jumbo_box">
                    <h3 class="uppercase">what we do</h3>
                    <p class="p_grey">Donec id elit non mi porta gravida at eget me tus. Sed posuere consectetur estat lobo rtis. Cum sociis natoque.</p>
                    <a class="italic_red" href="">Learn more</a>
                </div>
            </div>
            <div class="jumbo_elements">
                <div>
                    <i class="fas fa-question"></i>
                </div>
                <div class="bottom_jumbo_box">
                    <h3 class="uppercase">why us?</h3>
                    <p class="p_grey">Donec id elit non mi porta gravida at eget me tus. Sed posuere consectetur estat lobo rtis. Cum sociis natoque.</p>
                    <a class="italic_red" href="">Learn more</a>
                </div>
            </div>
        </div>
        <!--Fine sezione Jumbotron-->

        <!--Inizio sezione Counter-->
        <div class="counter">
            <div>
                <div class="counter_boxes_container">
                    <div class="counter_boxes">
                        <div>
                            <h1 class="uppercase">3399</h1>
                        </div>
                        <div>
                            <p class="uppercase">days</p>
                        </div>
                    </div>
                    <div class="counter_boxes">
                        <div>
                            <h1 class="uppercase">17</h1>
                        </div>
                        <div>
                            <p class="uppercase">hours</p>
                        </div>
                    </div>
                    <div class="counter_boxes">
                        <div>
                            <h1 class="uppercase">28</h1>
                        </div>
                        <div>
                            <p class="uppercase">mins</p>
                        </div>
                    </div>
                    <div class="counter_boxes">
                        <div>
                            <h1 class="uppercase">17</h1>
                        </div>
                        <div>
                            <p class="uppercase">secs</p>
                        </div>
                    </div>
                </div>
                <div class="counter_input">
                    <h3 class="uppercase">subscribe for updates</h3>
                    <input type="email" placeholder="Please fill your email" name="" id="">
                    <button class="my_btn">subscribe</button>
                </div>
            </div>
        </div>
        <!--Fine sezione Counter-->

        <!--Inizio sezione Speakers-->
        <div class="speakers">
            <div class="speakers_container">
                <div class="speakers_title">
                    <div>
                        <h2 class="uppercase">speakers</h2>
                    </div>
                    <div class="speakers_arrows">
                        <i class="fas fa-chevron-left"></i>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
                <div class="speakers_icons">
                    <div class="speakers_card">
                        <img src="img/speaker_1.jpg" alt="">
                        <h4 class="uppercase">patrick spencer</h4>
                        <p class="italic_grey_plus">S&P Analizer</p>
                    </div>
                    <div class="speakers_card">
                        <img src="img/speaker_2.jpg" alt="">
                        <h4 class="uppercase">janet jones</h4>
                        <p class="italic_grey_plus">Newyork Post's GM </p>
                    </div>
                    <div class="speakers_card">
                        <img src="img/speaker_3.jpg" alt="">
                        <h4 class="uppercase">micheal dover</h4>
                        <p>Starbuck's CEO</p>
                    </div>
                    <div class="speakers_card">
                        <img src="img/speaker_4.jpg" alt="">
                        <h4 class="uppercase">angelina holy</h4>
                        <p class="italic_grey_plus">Maxii's Manager</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Fine sezione Speakers-->

        <!--Inizio sezione Program-->
        <div class="program">
            <div class="program_container">
                <div class="program_header">
                    <div class="program_header_title"> 
                        <h2 class="uppercase">program</h2>
                    </div>
                    <div class="program_header_main">
                        <p class="p_grey">This conference run through all 4 days from 23-26 May 2016.</p>
                        <p class="p_grey">We also provide free lunch and coffee break in each day.</p>
                    </div>
                    <div class="program_header_right">
                        <p class="italic_red">View Full Program</p> 
                    </div>
                </div>
                <div class="program_timeline">
                    <div>
                        <p class="uppercase">DAY 1</p>
                        <p>23 May 2016</p>
                    </div>
                    <div>
                        <p class="uppercase">DAY 2</p>
                        <p>23 May 2030</p>
                    </div>
                    <div>
                        <p class="uppercase">DAY 3</p>
                        <p>24 May 2030</p>
                    </div>
                    <div>
                        <p class="uppercase">DAY 4</p>
                        <p>25 May 2030</p>
                    </div>
                    <div>
                        <p class="uppercase">DAY 5</p>
                        <p>26 May 2030</p>
                    </div>
                    <div></div>
                </div>
                <div class="program_table">
                    <div class="program_left">
                        <p><i class="far fa-clock"></i><span>09:00 - 10:30</span></p>
                        <p class="uppercase"><i class="fas fa-location-arrow"></i><span>ROOM A</span></p>
                        <p class="uppercase"><i class="fas fa-user"></i><span>LAURENCE FRANCIS</span></p>
                    </div>
                    <div class="program_right">
                        <H4 class="uppercase">WELCOMING AND INTRODUCTION</H4>
                        <p class="p_grey">
                        Vestibulum id ligula porta feliseuismod semper. Nullam quis risus eget urna mollis ornare vel eu leo. 
                        Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur...
                        </p>
                        <img src="img/program_speaker.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!--Fine sezione Program-->

        <!--Inizio sezione Maps-->
        <div class="maps">
            <div>
                <img src="img/vt (1).png" alt="">
                <img src="img/vt (2).png" alt="">
                <img src="img/vt (3).png" alt="">
                <img src="img/vt (4).png" alt="">
                <img src="img/vt (5).png" alt="">
                <img src="img/vt (6).png" alt="">
                <img src="img/vt (7).png" alt="">
                <img src="img/vt (8).png" alt="">
                <img src="img/vt (9).png" alt="">
                <img src="img/vt (10).png" alt="">
                <img src="img/vt (11).png" alt="">
                <img src="img/vt (12).png" alt="">
                <img src="img/vt (13).png" alt="">
            </div>
            <div>
                <img src="img/vt (14).png" alt="">
                <img src="img/vt (15).png" alt="">
                <img src="img/vt (16).png" alt="">
                <img src="img/vt (17).png" alt="">
                <img src="img/vt (18).png" alt="">
                <img src="img/vt (19).png" alt="">
                <img src="img/vt (20).png" alt="">
                <img src="img/vt (21).png" alt="">
                <img src="img/vt (22).png" alt="">
                <img src="img/vt (23).png" alt="">
                <img src="img/vt (24).png" alt="">
                <img src="img/vt (25).png" alt="">
                <img src="img/vt (26).png" alt="">
            </div>
        </div>
        <!--Fine sezione Maps-->

        <!--Inizio sezione Location-->
        <div class="location">
            <div class="location_top">
                <h3 class="uppercase">Location</h3>
                <h5 class="uppercase">GD BUILDING, GRAND CONFERENCE ROOM</h5>
                <P><i class="fas fa-location-arrow"></i> 11 GD Building, River Mall, New york, USA, 8879</P>
                <p id="location_red">Check For Accomodations Here</p>
                <div class="location_bottom">
                    <div>
                        <p><i class="fas fa-phone-alt"></i>+1-112-222-3344</p>
                    </div>
                    <div>
                        <p><i class="fas fa-envelope"></i>Contact@TheKeynoteTeam.com</p>
                    </div>
                </div>
            </div> 
        </div>
        <!--Fine sezione Location-->

        <!--Inizio sezione News-->
        <div class="news">
            <div class="news_container">
                <div class="news_title">
                    <div>
                        <h2 class="uppercase">recent news</h2>
                    </div>
                    <div>
                        <p class="italic_red new_post_red">Read All News</p>
                    </div>
                </div>
                <div class="news_post_container">
                    <div class="news_post">
                        <div id="sticked_img">
                            <img src="img/news_1.jpg" alt="">
                            <div class="sticky_post"><i class="fas fa-bullhorn"></i> sticky post</div>
                        </div>
                        <p class="italic_grey">03 Dec 2013 / 0 Comments</p>
                        <h5 class="uppercase">sedial eiusmod tempor</h5>
                        <p class="p_grey">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. 
                            Idque Caeseris fecere voluntate liceret: sese habere..
                        </p>
                        <p class="italic_red new_post_red">Read More</p>
                    </div>
                    <div class="news_post">
                        <img src="img/news_2.jpg" alt="">
                        <p class="italic_grey">03 Dec 2013 / 0 Comments</p>
                        <h5 class="uppercase">donec luctus imperdiet</h5>
                        <p class="p_grey">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. 
                            Idque Caeseris fecere voluntate liceret: sese habere..
                            </p>
                        <p class="italic_red new_post_red">Read More</p>
                    </div>
                    <div class="news_post">
                        <img src="img/news_3.jpg" alt="">
                        <p class="italic_grey">03 Dec 2013 / 0 Comments</p>
                        <h5 class="uppercase">magna pars studiorum</h5>
                        <p class="p_grey">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. 
                            Idque Caeseris fecere voluntate liceret: sese habere..
                            </p>
                        <p class="italic_red new_post_red">Read More</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Fine sezione News-->

        <!--Inizio sezione Tickets-->
        <div class="tickets">
            <div class="tickets_image"></div>
            <div class="tickets_container">
                <div class="tickets_cards">
                    <h2 class="uppercase">tickets</h2>
                    <div class="ticket_cards_container">
                        <div class="ticket_card">
                            <div class="ticket_header uppercase">
                                <h4>one day pass</h4>
                                <p class="p_red">free</p>
                            </div>
                            <div class="ticket_main italic_grey">
                                <ul>
                                    <li>One Day Access</li>
                                    <li>Coffee Break</li>
                                    <li>Lunch (International Buffet)</li>
                                    <li>Document Sheets</li>
                                    <li>50USD Voucher For Next Event</li>
                                </ul>
                            </div class="ticket_card">
                            <div class="my_btn">
                                <p>book now</p>
                            </div>
                        </div>
                        <div id="special_ticket_card" class="ticket_card">
                            <div class="ticket_header uppercase">
                                <h4>four day passes</h4>
                                <p class="p_red">750.00 usd</p>
                            </div>
                            <div class="ticket_main italic_grey">
                                <ul>
                                    <li>Four Day Access</li>
                                    <li>Coffee Break</li>
                                    <li>Lunch (International Buffet)</li>
                                    <li>Document Sheets</li>
                                    <li>100USD Voucher For Next Event</li>
                                </ul>
                            </div>
                            <div class="my_btn">
                                <p>book now</p>
                            </div>
                        </div>
                        <div class="ticket_card">
                            <div class="ticket_header uppercase">
                                <h4>two day passes</h4>
                                <p class="p_red">580.00 usd</p>
                            </div>
                            <div class="ticket_main italic_grey">
                                <ul>
                                    <li>Two Day Access</li>
                                    <li>Coffee Break</li>
                                    <li>Lunch (International Buffet)</li>
                                    <li>Document Sheets</li>
                                    <li>70USD Voucher For Next Event</li>
                                </ul>
                            </div>
                            <div class="my_btn">
                                <p>book now</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <!--Fine sezione Tickets-->

        <!--Inizio sezione Presentations-->
        <div class="presentations">
            <div class="presentations_container">
                <div class="presentations_video">
                    <div class="presentations_top uppercase">
                        <h2>presentation</h2>
                    </div>
                    <div class="presentations_bottom">
                        <div id="presentations_img">
                            <img src="img/presentations.jpg" alt="">
                            <div class="video_bar"> <!--display flex perchè contenitore di tutti gli elementi della barra-->
                                <div class="video_bar_play">
                                    <i class="fas fa-play"></i>
                                </div>
                                <div class="video_bar_song">
                                    <div class="song_status"></div>
                                    <div class="song_icons">
                                        <i class="fas fa-signal"></i>
                                        <i class="fas fa-cog"></i>
                                        <i class="fab fa-vimeo-v"></i>
                                    </div>
                                    <!--div da tenere vuoto servono solo bordi dare anche dimensioni-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="presentations_twitter">
                    <div class="presentations_top uppercase">
                        <h2>twitter feed</h2>
                    </div>
                    <div class="presentations_bottom">
                        <div class="twitter_bottom">
                            <div>
                                <i class="fab fa-twitter"></i>
                            </div>
                            <div>
                                <p>
                                    Stand out and be vibrant with some of the best bright and bold templates on <span>@Envato</span> Elements.
                                    And add a splash of c... <a href="#">https//t.co/jFrnsnzEJK7</a>
                                </p>
                                <p class="presentations_date italic_grey">3 days ago</p>
                            </div>
                        </div>
                        <div class="twitter_bottom">
                            <div>
                                <i class="fab fa-twitter"></i>
                            </div>
                            <div>
                                <p>
                                    Stand out and be vibrant with some of the best bright and bold templates on <span>@Envato</span> Elements.
                                    And add a splash of c... <a href="#">https//t.co/jFrnsnzEJK7</a>
                                </p>
                                <p class="presentations_date italic_grey">9 days ago</p>
                            </div>
                        </div>
                        <div class="twitter_bottom">
                            <div>
                                <i class="fab fa-twitter"></i>
                            </div>
                            <div>
                                <p>
                                    Stand out and be vibrant with some of the best bright and bold templates on <span>@Envato</span> Elements.
                                    And add a splash of c... <a href="#">https//t.co/jFrnsnzEJK7</a>
                                </p>
                                <p class="presentations_date italic_grey">11 days ago</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Fine sezione Presentations-->
        
        
        <!--Inizio sezione Sponsors -->
        <div class="sponsors">
            <div class="sponsors_container">
                <h2 class="uppercase">sponsors</h2>
                <p class="p_grey">
                    Maecenas faucibus mollis interdum. Nullam id dolor <br>
                    id nibh ultricies vehicula ut id elit.
                </p>
                <div class="sponsors_logos_container">
                    <div class="sponsors_logo"><img src="img/sponsors_1.jpg" alt=""></div>
                    <div class="sponsors_logo"><img src="img/sponsors_2.jpg" alt=""></div>
                    <div class="sponsors_logo"><img src="img/sponsors_3.jpg" alt=""></div>
                    <div class="sponsors_logo"><img src="img/sponsors_4.jpg" alt=""></div>
                    <div class="sponsors_logo"><img src="img/sponsors_5.jpg" alt=""></div>
                    <div class="sponsors_logo"><img src="img/sponsors_6.jpg" alt=""></div>
                </div>
            </div>
        </div>
        <!--Fine sezione Sponsors -->


        <!--Inizio Footer -->
        <div class="footer">
            <div class="footer_container">
                <div class="footer_section">
                    <div :class="footerUppercase">
                        {{footer[0].title}}
                    </div> 
                    <div :class="pGrey">
                        {{footer[0].text}}
                    </div>
                    
                </div>
                <div class="footer_section">
                    <div :class="footerUppercase">
                        {{footer[1].title}}
                    </div>
                    <ul v-for="item in footer[1].items" :class="liststyle">
                        <li :class="footerLi"><i class="fas fa-chevron-right"></i>  {{item}}</li>
                    </ul>
                </div>
                <div class="footer_section">
                    <div :class="footerUppercase">
                        {{footer[2].title}}
                    </div>
                    <div :class="pGrey">
                        {{footer[2].claim}}
                    </div>
                    <div :class="myBtn">
                        {{footer[2].btn}}
                    </div>
                </div>
                <div class="footer_section">
                    <div :class="footerUppercase">
                        {{footer[3].title}}
                    </div>
                </div>   
            </div>
        </div>
        <div class="footer_bottom"></div>
        <!--Fine Footer -->

    </div>
    

    <script src="js/main.js"></script>
</body>
</html>